<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.2.1" targetFramework="net452" />
  <package id="Castle.Core-NLog" version="4.2.1" targetFramework="net452" />
  <package id="Castle.LoggingFacility" version="4.1.0" targetFramework="net452" />
  <package id="Castle.Windsor" version="4.1.0" targetFramework="net452" />
  <package id="Hangfire.Core" version="1.6.17" targetFramework="net452" />
  <package id="Hangfire.SqlServer" version="1.6.17" targetFramework="net452" />
  <package id="Hangfire.Windsor" version="1.1.1.0" targetFramework="net452" />
  <package id="Luna.Service" version="1.0.2" targetFramework="net452" />
  <package id="Luna.Service.Nlog" version="1.0.2" targetFramework="net452" />
  <package id="Microsoft.CSharp" version="4.4.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net452" />
  <package id="NLog" version="4.4.13" targetFramework="net452" />
  <package id="Owin" version="1.0" targetFramework="net452" />
  <package id="Topshelf" version="4.0.3" targetFramework="net452" />
  <package id="Topshelf.NLog" version="4.0.3" targetFramework="net452" />
</packages>